$primary: #3700ff8f;
$primary-accent: purple;


.welcome {
  /*
  background: $primary;
  background: -webkit-linear-gradient(to right, $primary, $primary-accent) !important;
  background: linear-gradient(to right, $primary, $primary-accent) !important; 
  */
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}